.content {
  height: 3rem;

  padding: 0 2rem;

  border-radius: var(--br-default);
  border: none;

  background-color: var(--green-300);
  color: var(--shape);

  transition: filter 0.2s;
  
  &:hover {
    filter: brightness(1.4);
  }
}