.background {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  top: 0;

  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: var(--bs-default);
}

.wrapper {
  max-width: 450px;
  width: 100%;

  position: relative;

  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: var(--pd-default);
  border-radius: var(--br-default);

  background-color: var(--light);

  & > p {
    margin: var(--mg-default) 0;
  }
}
.close {
  background-color: transparent;
  border: none;

  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}