.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);

  z-index: 9;
}

.navigation {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 11;

  max-width: 50%;
  width: 100%;
  background-color: var(--shape);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  transition: transform 400ms ease-in-out;}