.container {
    display: flex;
    align-items: center;

    cursor: pointer;

    span {
        font-size: 2rem;
        font-weight: var(--fw-bold);
        letter-spacing: 2px;
        text-transform: uppercase;

        color: var(--shape);
    }
}