.gridPrimary {
  display: flex;
  justify-content: space-between;

  margin: var(--mg-default) 0;

  &>div:last-child {
    width: 30%;
  }

  &>div:first-child {
    width: 65%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &>div:last-child {
      width: 100%;
    }

    &>div:first-child {
      width: 100%;
    }
  }
}

.groupSelects {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;
  
  & > div {
    max-width: 48%;
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    
    & > div {
      max-width: 100%;
    }
  }
}

.footerForm {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    max-width: 220px;
    width: 100%;
  }
}