.gridPrimary {
  display: flex;
  justify-content: space-between;

  margin: var(--mg-default) 0;

  & > div:last-child {
    width: 30%;
  }

  & > div:first-child {
    width: 65%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    & > div:last-child {
      width: 100%;
    }

    & > div:first-child {
      width: 100%;
    }
  }
}

.groupSelects {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;

  & > div {
    max-width: 48%;
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    & > div {
      max-width: 100%;
    }
  }
}

.footerForm {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    max-width: 220px;
    width: 100%;
  }
}

.categories {
  & > div:first-child {
    display: flex;
    align-items: center;

    h4 {
      margin-right: 1rem;
    }

    span {
      cursor: pointer;
    }
  }
}

.containerCategories {
  display: flex;
  align-items: center;

  div {
    margin: 0.5rem;
  }
}

.registerCategory {
  display: flex;

  span {
    margin-left: 1rem;
    font-weight: bold;
    color: var(--green-300);
    cursor: pointer;

    &:hover {
      color: var(--green-600);
    }
  }
}
