.header {
  height: 4rem;

  display: flex;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      
      margin-left: 2rem;

      list-style: none;

      li {
        margin: 0 1rem;
      }
    }

    button {
      margin-left: auto;
    }
  }
}