.header {
  height: 4rem;

  display: flex;
  align-items: center;

  background-color: var(--green-300);

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      
      margin-left: 2rem;

      list-style: none;

      li {
        margin: 0 1rem;

        color: var(--shape);

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    button {
      margin-left: auto;
    }
  }
}

.infoUser {
  margin-left: auto;

  display: flex;
  align-items: center;

  color: var(--shape);

  span {
    margin-right: 1rem;
  }
}

.avatarProfile {
  width: 48px;
  height: 48px;

  border-radius: 48px;

  background-color: var(--shape);

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 48px;
  }
}